 table {
        width: 100%;
        
        font-family: Arial, sans-serif;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 8px;
       
    }

   

    tr:hover {
        background-color: #ddd;
    }

    h2 {
        font-family: Arial, sans-serif;
    }
