

*{
  margin: 0;
  padding: 0;;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo .dot {
  width: 10px;
  height: 10px;
  background: #f7b500;
  border-radius: 50%;
}

.logo h1 {
  font-size: 18px;
}

.logo span {
  font-weight: 400;
  color: gray;
}

nav a {
  text-decoration: none;
  color: #222;
  margin-left: 25px;
  font-weight: 500;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.intro {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1000px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
}

.text h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.text h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text p {
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}
        body {
            background-image: url('portfolio-background.jpg'); 
            background-size: cover;
            background-color: aqua;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .cv-section {
            max-width: 800px;
            margin: 50px auto;
            background: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 12px;
           ;
        }

        h1 {
            text-align: center;
            color: #222;
        }

        .cv-header {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;
        }

        .p {
            width: 200px;
            height: 200px;
            border-radius: 50%;
           
        }

        .p {
            list-style: none;
            padding: 0;
            margin: 10px 0 30px 0;
        }

        .p li {
            margin-bottom: 5px;
        }
        .li {text-decoration: dashed; 
        text-align: center; 
      color: blueviolet ;
    border-radius: 12px}
    body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color:navy;
  background:blanchedalmond;
  line-height: 1.65;
}


