

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: burlywood;
    background-size: cover;
    background-position: center;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
   
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 20px;
    font-weight: 700;
}

.logo span {
    font-weight: 400;
    color: gray;
}

nav a {
    text-decoration: none;
    color: #222;
    margin-left: 30px;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: brown;
    text-decoration: underline;
}


main {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}


.cv-section {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 10px;
}


.cv-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #333;
}

.cv-header p {
    font-size: 1.1rem;
    color: #333;
}


ul.p {
    list-style: none;
    margin: 20px 0;
    font-size: 1rem;
}


.block {
    margin-top: 20px;
}

.block h2 {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.subtitle {
    margin: 10px 0;
    font-style: italic;
    color: #555;
}

.block ul {
    list-style: disc;
    margin-left: 20px;
}

.block ul li {
    margin: 5px 0;
}
